@import url('https://fonts.googleapis.com/css?family=Montserrat');

//FONT
$font: 'Montserrat',
sans-serif;

//COLORS
$primaryBgd: #0c244c;
$bodyBgd: #f6fafd;
$mainBgd: #fff;
$secondaryBgd: #001234;

$primaryText: #fff;
$secondaryText: #4c5669;
$greyText: #687992;

$borderMain: #ebf5ff;

$primaryTextBtn: #687992;
$secondaryTextBtn: #fff;

$primaryBtn: 'transparent';
$dangerBtn: #ff756c;
$actionBtn: #3f90dc;
$disabledBtn: #e5e5e5;

$primaryHoverBtn: #e5edf3;
$secondaryHoverBtn: #fff;
$actionHoverBtn: #28a7db;